h1
{
    color: rgb(255, 154, 154);
    background-color: rgb(2, 0, 128);
    text-align: center;
    border-radius: 10000px;
    height: 40px;
    padding: 55px;
    
}
p
{
    text-align: center;
    background-color: teal;
    border-radius: 1000px;
    line-height:20;
    letter-spacing: 10px;
}
img
{ 
   
    border-radius: 30px;
  
}
body
{
 background-color: rgb(0, 0, 0);
}
#q
{
    border-radius: 30px;
  
}
#end
{
    background-color: black;
    text-align: left;
    line-height:0;
    letter-spacing: 1px;
}
.aligncenter
{
     text-align: center;
     background-color: black;
}
.container {
    display: flex;
  }
#bl
{
    background-color: black;
    color: teal;
    line-height:8;
    letter-spacing: 1px;
}
