.container {
    display: flex;
  }
  body
  {
    text-align: center;
  }
 ul.custom-marker li::marker{
    content:"🌟 ";
    color:gold;
    font-size: 1.2em;    
   text-align: center;    
}
p{
    overflow-wrap:break-word;
    hyphens:auto;
}
.begin_text
{
  background-color: rgba(255, 0, 0, 0.493);
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
}
.middle_text
{
  color:yellow;
  background-color: rgba(255, 0, 255, 0.575);
}
.end_text
{
  background: rgba(51, 255, 0, 0.534);
  color:rgba(255, 0, 255, 0.555);
  padding:10 px 20 px;
  border-radius: 6px;
  text-decoration: none;
  text-align: left;
}
.menu a{
  display: inline-block;
  background: red;
  color:rgb(0, 217, 255);
  padding:10px 20px;
  border-radius: 600px;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
  transition: background 0.3;
}